*{ 
    font-family: unset;
    font-family:'Courier New', Courier, monospace !important;
}

.form-control{
    display: block;
}

.garage-heading{
    border-bottom: 1px solid black;
}

.garage-section span{
    display: block;
    margin-bottom: 1em
}

.garage-section{
    background: rgb(238, 238, 238);
    padding-bottom: 10px;
    margin-top: -8px;
}

.add-vehicle{
    margin-top: 3em;
}